<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.success.mapper.SysDictMapper">
  <resultMap id="BaseResultMap" type="com.success.bean.SysDict">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, category, name, value, remark, create_time
  </sql>

  <sql id="queryConditions">
    <where>
      <if test="category != null and category!=''">
        and category = #{category,jdbcType=VARCHAR}
      </if>
      <if test="name != null and name!=''">
        and name like  CONCAT('%', #{name,jdbcType=VARCHAR},'%')
      </if>
      <if test="value != null and value!=''">
        and value like  CONCAT('%', #{value,jdbcType=VARCHAR},'%')
      </if>
    </where>
  </sql>

  <select id="selectListByCondition" parameterType="com.success.bean.SysDict" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_dict
    <include refid="queryConditions"></include>
  </select>



  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_dict
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_dict
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.success.bean.SysDict">
    insert into sys_dict (category, name,
      value, remark, create_time
      )
    values (#{category,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{value,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.success.bean.SysDict">
    update sys_dict
    <set>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>